@import "../../utils/variables.scss";

.font-weight--bold {
  font-weight: bold;
  text-align: left;
}

.text-wrapper p {
  text-align: justify;
}

.list-group-item {
  background-color: $background-color !important;
}
