@import "../../utils/variables.scss";

.font-weight--bold {
  font-weight: bold;
  text-align: left;
}

.text-wrapper p {
  text-align: justify;
}

.list-group-item {
  background-color: $background-color !important;
}

.faq-answer-margin {
  padding: 1rem 1.25rem;
}

.faq-item {
  margin-bottom: 3em;
}

.list-group {
  margin-bottom: 1em !important;
}
