@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "../../utils/include-media.scss";

.welcome-bar {
  position: relative;
  height: 60vh;
  width: 100%;
  margin-bottom: 2em;
  background-image: url("../../assets/img/cityscape.svg");
  background-repeat: repeat;
  background-size: cover;
  animation-name: MOVE-BG !important ;
  animation-duration: 8000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @include media(">desktop") {
    animation-duration: 1000s;
  }

  @include media(">desktop", "<=desktop-4k") {
    background-size: contain;
    background-position: bottom;
    animation-name: MOVE-BG-LARGE-DESKTOP !important;
    animation-duration: 5500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-bottom: 1em;
  }

  &__scooter img {
    position: absolute;
    bottom: -2px;
    margin: auto;
    left: 0em;
    right: 0;
    text-align: center;
    width: 8em;
    height: auto;
    @include media(">=desktop") {
      font-size: 2em;
      width: 5em;
      height: auto;
    }

    @include media(">desktop", "<=desktop-4k") {
      width: 4em;
    }
  }

  &__banner {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    &--subtext {
      @include media(">desktop", "<=desktop-4k") {
        font-size: 1.5em;
      }
    }
  }

  &__banner h2 {
    font-family: "Anton", sans-serif;
    font-size: 3em;

    @include media(">=desktop") {
      font-size: 5em;
    }
  }
}

@keyframes MOVE-BG {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100000%;
  }
}

@keyframes MOVE-BG-LARGE-DESKTOP {
  from {
    background-position-x: 100000%;
  }
  to {
    background-position-x: 0%;
  }
}
