@import "../../utils/include-media.scss";

.loading {
  &__animation {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include media(">desktop", "<=desktop-4k") {
      width: 5%;
    }
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
