.info-bar {
  height: 65vh;
  width: 100%;
  position: relative;

  &__slider {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &__item {
      text-align: center;
      height: 65vh !important;
    }
  }
}
