@import "./utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: "Noto Sans", sans-serif;
}
